# should not be published by NPM
.gitignore
tests
nacl.json
site
examples
.hound.yml
.eslintrc
.codeclimate.yml
.travis.yml
.coveralls.yml
coverage
Makefile
CHANGELOG.md
Dockerfile
gulpfile.js
node_modules
docs
*.yml
